
@import "./reset.css";
@import "./typography.css";

:root {
    --primary-font-color: black;
    --secondary-font-color: white;
    --primary-color: #5aceff;
    --primary-color-2: #2952be;
    --secodary-color: #bc9c22;
    --background-color: #e4ded0;
    --shadow-box-color: rgba(0, 0, 0, 0.349);
}

body {
    height: 200vh;
    background-color: var(--background-color);
    box-sizing: border-box;
}

.container {
    margin: auto;
    max-width: 1720px;
    width: 100%;
}