.be-vietnam-pro-bold {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 700;
    font-style: normal;
}

.cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: bold;
}

.afacad {
  font-family: "Afacad", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.secodary-font-color {
    color: var(--secondary-font-color);
}

h1,h2 {
    font-size: 2.5rem;
}


p {
    font-size: 1.25rem;
    line-height: 1.2;
}

.center {
    text-align: center;
}